aiohttp==3.7.4.post0
aiomysql==0.0.21
async-timeout==3.0.1
attrs==20.3.0
chardet==4.0.0
greenlet==1.0.0
idna==3.1
jsonschema==3.2.0
multidict==5.1.0
oauthlib==3.1.0
PyJWT==2.0.1
PyMySQL==0.9.3
pyrsistent==0.17.3
PyYAML==5.4.1
six==1.15.0
SQLAlchemy==1.4.11
typing-extensions==3.7.4.3
yarl==1.6.3
